.Rproj.user
.Rhistory
.RData
.Ruserdata
## private data files
/data/10_professions_data.csv.xz
/data/10_professions_data_big5.csv.xz
/data/10_professions_data_values.csv.xz
/data/all_users_data.csv.xz
